html, body {
    overflow-x: hidden;
    font: 16px / 1.5em Oswald, sans-serif;
    color: #6c6e71;
    background: #fcfcfc;
    font-weight: 400;
    font-style: normal;
}
.row {
    overflow: hidden;
}

.container {

    margin-bottom: 10px;

}
.collection_item {
    margin: 20px 0 0;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #0000000a;
    border: 1px solid #f8f1e8;

    border-radius: 0;
}

.collection_img {
    line-height: 0;
}


img {
    border-style: none;
}
.collection_caption {
    align-items: flex-end;
}

.collection_caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    display: flex;
}
.collection_title {
    color: #171717;
    background: #fff6;
    padding: 10px;
    text-transform: uppercase;
}

a:hover {
    color: #31862f;
    outline: 0;
}
.collection_item:hover .collection_img img {
    transform: scale(1.1);
    
}
.collection_item:hover {
    .collection_title {
        color: #31862f;
        outline: 0;
    }
}
.section_template__collections-listing .page_heading {
    margin-bottom: 43px;
}

.page_heading {
    margin: 15px 0 0;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -.05em;
}