<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/src/main/resources/static/footer.css">

</header>
<body>
   
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>YOUR ACCOUNT</h5>
                    <a href="#">Personal info</a>
                    <a href="#">Orders</a>
                    <a href="#">Credit slips</a>
                    <a href="#">Addresses</a>
                </div>
                <div class="col-md-3">
                    <h5>CUSTOMER SERVICE</h5>
                    <p>Monday to Friday</p>
                    <p>10am - 6.30pm (NewYork time)</p>
                    <p>+(001) 23 45 67 89</p>
                    <p>shopify@zemez.io</p>
                </div>
                <div class="col-md-3">
                    <h5>OUR GUARANTEES</h5>
                    <p>Shipping in 3 days</p>
                    <p>Free returns within 14 days</p>
                    <p>Secure payments</p>
                </div>
                <div class="col-md-3">
                    <h5>OUR COMPANY</h5>
                    <a href="#">Delivery</a>
                    <a href="#">Legal Notice</a>
                    <a href="#">About us</a>
                    <a href="#">Contact us</a>
                    <a href="#">Terms and conditions of use</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <p class="copyright">© 2024. Website builder by Shopify</p>
                </div>
                <div class="col-md-6 text-right social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
</body>
</html>

